<!-- <div id="custom-search-input " class="search"> -->
	<div class="input-group" style="position:absolute;top:10px;width:94%">
	    <input type="text" class="search-query form-control" placeholder="Search" [(ngModel)] = "searchName" (keyup)="filter()" (keydown)="handleKeyDown($event)"/>
	    <span class="input-group-btn">
	        <button class="btn btn-default" type="button" (click) = "searchMovie()">
	            <span class=" glyphicon glyphicon-search"></span>
	        </button>
	    </span>
	</div>
	<div class="suggestions" *ngIf="filteredList.length > 0">
        <ul *ngFor="let item of filteredList" id="myUL">
            <li >
                <a (click)="select(item)">{{item}}</a>
            </li>
        </ul>
    </div>
    <p class="text-danger">{{message}}</p>
<!-- </div> -->