<!-- 	<div class="row header">
		<div class="col-xs-1">
			<button type="button" class="btn btn-default navbar-btn pull-left" (click) = "previousPage()">
        		<span class="glyphicon glyphicon-chevron-left"></span>
      		</button>
      	</div>
      	<div class="col-xs-11">
      		<h4 class="text-center" [hidden]="hideElement" ><b class="text-color">{{searchName}}</b>
            <span class="glyphicon glyphicon-search pull-right text-color" (click)="openSeachBox()"></span> </h4>
          <search [hidden]="hideSearch" (searchButtonSelectionChanged)="newSearch($event)"></search>
		    </div>
	</div>
  <br>
  <div class="container">
    <div class="row search-results"
            infinite-scroll
            [infiniteScrollDistance]="scrollDistance"
            [infiniteScrollUpDistance]="scrollUpDistance"
            [infiniteScrollThrottle]="throttle"
            [scrollWindow]="true"
            (scrolled)="onScroll()">
        <div class="col-xs-4 " *ngFor = 'let movie of movieList'>
		  <img src="assets/images/{{movie['poster-image']}}" onerror="this.src='http://i1381.photobucket.com/albums/ah215/mzartdesigns/google-logo_zpspkcztsjo.png';" class="img-responsive">
		  <p class="text">{{movie['name']}}</p>
	    </div>
      <div class="col-xs-12" *ngIf = 'movieList.length===0'>
          <h4 class="text-center text-color">No data found</h4>
      </div>
    </div>
</div> -->
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/images/Back.png" width="20px" class="img-responsive" />
      </a>
      <a class="navbar-brand" href="#" [hidden]="hideElement">{{searchName}}</a>
      <div class="navbar-right pull-right" [hidden]="hideElement">
        <a class="navbar-brand" href="#">
          <img src="assets/images/search.png" (click)="openSeachBox()" width="20px" class="img-responsive">
        </a>
      </div>
      <div class="navbar-left" >
          <search [hidden]="hideSearch" (searchButtonSelectionChanged)="newSearch($event)"></search>
      </div>
  </div>
</nav>
 <br>
  <div class="container">
    <div class="row search-results"
            infinite-scroll
            [infiniteScrollDistance]="scrollDistance"
            [infiniteScrollUpDistance]="scrollUpDistance"
            [infiniteScrollThrottle]="throttle"
            [scrollWindow]="true"
            (scrolled)="onScroll()">
        <div class="col-xs-4 " *ngFor = 'let movie of movieList'>
              <img src="assets/images/{{movie['poster-image']}}" onerror="this.className='image-not-found img-responsive center-block';this.src='assets/images/placeholder_for_missing_posters.png';" class="img-responsive center-block" style="margin-bottom:24px;">
            <p class="text-center text-color cut-text" style="margin-bottom:90px;">{{movie['name']}}</p>
      </div>
      <div class="col-xs-12" *ngIf = 'movieList.length===0'>
          <h4 class="text-center">No data found</h4>
      </div>
    </div>
</div>
